*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}


/*
        HEADER
                */
.hlavicka{
    text-align: center;
    background-color: #52796f;
    height: auto;
    line-height: 4vw;
}

@media(max-width: 1000px){
    .hlavicka{
        width: 100%;
        line-height: 40px;
    }
}

.hlavicka h1{
    font-size: clamp(10px, 2vw, 38px);
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
}
/*
        */



/*
        MAIN
                */

/*  section_1 + section_2*/
.otazky{
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/šedé_pozadí.jpg); */
    background-color: #52796f;
}


/* nastavení barvy textu (nadpisu) h1-h5 v section_+ section_2*/
.otazky h1,
.otazky h2,
.otazky h3,
.otazky h4,
.otazky h5{
    color: #fff;
}

/* section3 rozdílna část */
.section_3{
    text-align: center;
}

/* nastavení barvy textu (nadpisu) h1-h5 v section_3*/
.section_3 h1,
.section_3 h2,
.section_3 h3,
.section_3 h4,
.section_3 h5{
    color: #000;
}
/*--------------------------------------------
*/



/*  box pro přihlášení / zadání kódu 
                                        */
.prihlasovaci_okno{
    width: 60vw;
    text-align: center;
    margin: 5vw auto;
    padding: 2vw ;
    border: 3px solid #52796f;
    border-radius: 2vw;
}

/*  velikostText / text- Zadejte 4.místný kod*/
.prihlasovaci_okno h2{
    font-size: clamp(12px, 2vw, 28px);
}

/*  input do kterého se zadává kod*/
.prihlasovaci_okno input[type=text]{
    width: 15vw;
    padding: 0.2vw 0.5vw;
    text-align: center;
    cursor: pointer;
    line-height: 1.3vw;
    border-radius: 2vw;
}

/* box pro text odpovědi po zadání hodnoty do inputu*/
#vysledek {
    margin: 20px auto;
    font-weight: bold;
    color: red;
    font-size: clamp(12px, 2vw, 30px);
}

/* tlačítko ověřit, který ověří hodnotu z inputu*/
#kontrolaBtn{
    padding: 0.4vw 1vw;
    margin-top: 1vw;
    cursor: pointer;
    border-radius: 1vw;
    width: 10vw;
    font-size: clamp(8px, 1.5vw, 18px);
    background-color: silver;
}

#kontrolaBtn:hover{
    background-color: #52796f;
    transition: background 0.6s;
    color: #fff;
}

/* sekce / box s tlačítkama - nápověda*/
.napovedy{
    display: flex;
    justify-content: space-around;
}

/*  velikost každého tlačítka*/
.napoveda_blok{
    width: 10vw;
    
}

/* tlačítka nápovědy*/
.napoveda_blok button{
    width: 10vw;
    padding: 0.8vw;
    border-radius: 0.3vw;
    font-size: clamp(10px, 1.2vw, 16px);
    background-color: #52796f;
    color: #fff;
    transition: background 0.6s;
    cursor: pointer;
}

/* změna barvy / textu po najetí myší tlačítek naápověd*/
.napoveda_blok button:hover{
    background-color: #52796fa1;
}

/* text <p> který vypíše text po kliknutí tlačítka*/
.napoveda_blok p{
    font-size: clamp(10px, 1.5vw, 22px);
    margin-top: 1vw;
}

/* při max. vel. 500px zmizí text Nápovědy a zůstane číslo 1-5*/
@media(max-width: 500px){
    .zmizet{
        display: none;
    }
}

#smazat1{
    font-size: clamp(8px, 1.5vw, 20vw);
    padding: 0.2vw 0.5vw;
    width: 8vw;
    margin: auto;
    background-color: silver;
    color: #000000b7;
    transition: background 0.7s, color 0.7s;
}

#smazat1:hover{
    background-color: #52796f;
    color: #fff;
}


#smazat2{
    font-size: clamp(8px, 1.5vw, 20vw);
    padding: 0.2vw 0.5vw;
    width: 8vw;
    margin: auto;
    background-color: silver;
    color: #000000b7;
    transition: background 0.7s, color 0.7s;
}

#smazat2:hover{
    background-color: #52796f;
    color: #fff;
}


#smazat3{
    font-size: clamp(8px, 1.5vw, 20vw);
    padding: 0.2vw 0.5vw;
    width: 8vw;
    margin: auto;
    background-color: silver;
    color: #000000b7;
    transition: background 0.7s, color 0.7s;
}

#smazat3:hover{
    background-color: #52796f;
    color: #fff;
}


#smazat4{
    font-size: clamp(7px, 1.5vw, 20vw);
    padding: 0.2vw 0.5vw;
    width: 8vw;
    margin: auto;
    background-color: silver;
    color: #000000b7;
    transition: background 0.7s, color 0.7s;
}

#smazat4:hover{
    background-color: #52796f;
    color: #fff;
}

/*
    KALENDÁŘ
            */

/*  celá sekce / box kalendářu*/
.kalendar{
    width: 60%;
    margin: 2vw auto;
    text-align: center;
    border: 3px solid #52796f;
    border-radius: 2vw;
    padding: 2vw;
}

/* při max. vel. 500px, se obsah posune od vrchního obsahu o 30vw*/
@media(max-width: 500px) {
    .kalendar{
        margin-top: 10vw;
    }
}


/*  text Motivační kalendář (nadpis)*/
.nadpisKalendar{
    font-size: clamp(18px, 2.5vw, 40px);
    letter-spacing: 4px;
    color: #fff;
    background-color: #0000009c;
    border-radius: 0 0 1vw 1vw;
    margin-bottom: 3vw;
}

/* tlačítko každého dne v týdnu Po - Pá*/
.kalendar button {
    font-size: clamp(14px, 2vw, 24px);
    padding: 0.4vw 0.6vw;
    border-radius: 1vw;
    display: flex;
    margin: 1vw auto;
    transition: background 0.6s;
    background-color: #52796f;
    color: #fff;
    cursor: pointer;
}

/* změna tlačítka každého dne v týdnu Po - Pá*/
.kalendar button:hover {
    background-color: rgba(75, 125, 113, 0.601);
    text-decoration: underline 1px #fff;
}

/* text <p> po kliknutí na tlačítko dne v kal. týdnu*/
.kalendar p{
    font-size: clamp(14px, 2vw, 30px);
}



/*  
    SKRYTÉ TLAČÍTKA SKRÝT ZPRÁVU V KALENDÁŘI   
                                            */

/*  úprava tlačítka Pondělí*/
#skrytBtn_Po{
    font-size: clamp(9px, 1.5vw, 18px);
    background-color: #fff;
    color: #000;
    padding: 0.2vw 0.4vw;
    transition: background 0.6;
    cursor: pointer;
}

/* změna tlač. Pondělí po najetí myší*/
#skrytBtn_Po:hover{
    background-color: #52796f;
    color: #fff;
}


/*  úprava tlačítka Úterý*/
#skrytBtn_Ut{
    font-size: clamp(10px, 2vw, 20px);
    background-color: #fff;
    color: #000;
    padding: 0.2vw 0.4vw;
    transition: background 0.6;
    cursor: pointer;
}
/* změna tlač. Úterý po najetí myší*/
#skrytBtn_Ut:hover{
    background-color: #52796f;
    color: #fff;
}


/*  úprava tlačítka Středa*/
#skrytBtn_Str{
    font-size: clamp(10px, 2vw, 20px);
    background-color: #fff;
    padding: 0.2vw 0.4vw;
    color: #000;
    cursor: pointer;
    transition: background 0.6;
}
/* změna tlač. Středa po najetí myší*/
#skrytBtn_Str:hover{
    background-color: #52796f;
    color: #fff;
}


/*  úprava tlačítka Čtvrtek*/
#skrytBtn_Ct{
    font-size: clamp(10px, 2vw, 20px);
    padding: 0.2vw 0.4vw;
    background-color: #fff;
    color: #000;
    transition: background 0.6;
    cursor: pointer;
}
/* změna tlač. Čtvrtek po najetí myší*/
#skrytBtn_Ct:hover{
    background-color: #52796f;
    color: #fff;
}


/*  úprava tlačítka Pátek*/
#skrytBtn_Pa{
    font-size: clamp(10px, 2vw, 20px);
    background-color: #fff;
    color: #000;
    padding: 0.2vw 0.4vw;
    transition: background 0.6;
    cursor: pointer;
}
/* změna tlač. Pátek po najetí myší*/
#skrytBtn_Pa:hover{
    background-color: #52796f;
    color: #fff;
}





/*  
                MAIN
            PÁTRACÍ APLIKACE
                             */
/* box pátrací aplikace*/
.patraci_aplikace{
    width: 70vw;
    margin: 2vw auto;
    text-align: center;
    border: 3px solid #52796f;
    border-radius: 1vw;
}

/*  nadpis pátrací aplikace*/
.patraci_aplikace h1{
    font-size: clamp(20px, 2.2vw, 36px);
}

.patraci_aplikace h5{
    font-size: clamp(12px, 1.5vw, 18px);
    color: #343a4086;
}

/*  input (zadávaná hodnota)    */
.patraci_aplikace input{
    width: 10vw;
    margin-top: 2vw;
    text-align: center;
    line-height: 2vw;
    font-size: clamp(14px, 1.8vw, 22px);;
}

/*  tlacitko overit hodnoty z inputu    */
#kontrola_tl{
    background-color: #52796f;
    color: #fff;
    margin-top: 1vw;
    padding: 1vw 2vw;
    cursor: pointer;
    border-radius: 1vw;
    line-height: 1vw;
    font-size: clamp(12px, 2vw, 20px);
}

/*  zvětšení paddingu u tlačítka ověřit při dosažení 500px a méně*/
@media(max-width: 500px) {
    #kontrola_tl {
        padding: 1.8vw 2.2vw;
    }
}

/*  tlačítko overit hodnoty z inputu / změna po najetí myší*/
#kontrola_tl:hover{
    background-color: #549283c7;
}

/*  výsledek po ověření hodnot z inputu*/
#vysledek_ap{
    font: bold;
    margin-top: 2vw;
    font-size: clamp(16px, 2vw, 28px);
}

/*  KONEC PÁTRACÍ APLIKACE*/


/*
            MAIN
        AP - KONTROLA VĚKU
                            */

.kontrola_veku{
    width: 70vw;
    margin: 2vw auto;
    text-align: center;
    border: 3px solid #52796f;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
}

.kontrola_veku h1{
    font-size: clamp(20px, 2.2vw, 36px);
    margin-bottom: 2vw;
}

.kontrola_veku input{
    width: 8vw;
    padding: 0.3vw 0.8vw;
    text-align: center;
    font-size: clamp(16px, 2vw, 26px);
}

.kontrola_veku button{
    padding: 0.8vw 0.8vw;
    font-size: clamp(8px, 2vw, 20px);
    border-radius: 10px;
    transition: background 0.6s, color 0.6s;
    cursor: pointer;
}

.kontrola_veku button:hover{
    background-color: #52796f;
    color: #fff;
}

#text_overeni{
    width: 40vw;
    margin: 1vw auto;
    font-size: clamp(16px, 2.2vw, 26px);
    padding: 0.5vw 1vw;
}



/*      
                    MAIN    
                GALERIE MISKY
                                */
                                
.galerie{
    margin: 2vw auto;
    text-align: center;
    background-color: #52796fc7;
}

.galerie img{
    width: 35vw;
}

#info_1{
    font-size: clamp(18px, 2vw, 30px);
    padding: 5px 8px;
}


.rozmery_placatky{
    font-size: clamp(16px, 2vw, 26px);
    padding: 15px 12px;
    color: #fff;
    text-decoration: underline 2px solid #52796f;
}

.galerie button{
    cursor: pointer;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fff;
    background-color: #52796f;
    transition: background 0.3s, color 0.3s;
}

.galerie button:hover{
    background-color: #fff;
    color: #000;
}
/*  konec sekce galerie misky  */



/*  
        PŘIHLÁŠENÍ UŽIVATELE
                                */

.login{
    width: 60%;
    margin: 3vw auto;
    text-align: center;
}

.login h3{
    font-size: clamp(16px, 2vw, 32px);
    margin-bottom: 20px;
}

.login form input{
    width: 15vw;
    line-height: 1.5vw;
}

@media(max-width: 500px){
    .login form input{
        width: 30%;
    }
}

.login form input[type=email]{
    width: 20vw;
}

@media(max-width: 500px) {
    .login form input[type=email]{
        width: 50%;
    }
}

.login button{
    width: 60px;
    padding: 3px 5px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.login button:hover{
    background-color: #52796f;
    color: #fff;
}

.help_login{
    width: 15vw;
    text-align: left;
    margin-left: 5vw;
    padding: 5px 10px;
    background-color: #52796f;
    font-size: clamp(10px, 1.8vw, 20px);
    color: #fff;
    margin-bottom: 20px;
}

@media(max-width: 500px){
    .help_login{
        width: 30vw;
    }
}

.help_login strong{
    text-decoration: underline 2px solid #fff;
}






.galerie_2{
    width: 100%;
    display: flex;
    background-color: #52796fc9;
    margin-top: 20px;
}

.galerie_2 img{
    width: 25vw;
}





footer{
    margin-bottom: 0;
    margin-top: 10vw;
    width: 100%;
    height: auto;
    background-color: #52796f;
    color: #fff;
    line-height: 1vw;
    text-align: center;
}

footer p{
    font-size: clamp(8px, 1.5vw, 18px);
    padding: 1vw 0;
}