*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6c757d;
}

body img{
    display: block;
    margin: 0 auto;
    width: 30%;
}

@media(max-width:900px){
    body img{
        width: 45%;
    }
}

@media(max-width:600px){
    body img{
        width: 50vw;
    }
}

@media(max-width:400px){
    body img{
        width: 60vw;
    }
}